[submodule "extern/date"]
	path = extern/date
	url = https://github.com/HowardHinnant/date.git
[submodule "extern/libjpeg-turbo"]
	path = extern/libjpeg-turbo
	url = https://github.com/libjpeg-turbo/libjpeg-turbo.git
