name: build-and-test

on: ["push", "pull_request"]

jobs:
  build-and-test:
    strategy:
      matrix:
        config:
        - {name: "Ubuntu 24.04 (GCC)", os: "ubuntu-24.04", CC: "gcc-14", CXX: "g++-14"}
        - {name: "Ubuntu 24.04 (Clang)", os: "ubuntu-24.04", CC: "clang", CXX: "clang++"}

    name: ${{matrix.config.name}}
    runs-on: ${{matrix.config.os}}

    steps:
    - name: Install dependencies
      env:
        DEBIAN_FRONTEND: "noninteractive"
      run: sudo apt-get update && sudo apt-get install -y build-essential gcc-14 g++-14 pkg-config cmake ffmpeg imagemagick lcov clang-tidy clang-format libavformat-dev libexiv2-dev libgtest-dev libimage-exiftool-perl libjpeg-turbo-progs libspdlog-dev libturbojpeg0-dev libcli11-dev libtoml11-dev qtbase5-dev qttools5-dev libkf5i18n-dev libkf5jobwidgets-dev

    - name: Checkout repository
      uses: actions/checkout@v2
      with:
        submodules: recursive

    - name: Build and test
      env:
        CC: ${{matrix.config.CC}}
        CXX: ${{matrix.config.CXX}}
        BUILD_DIR: "build/"
      run: |
        cmake -B ${BUILD_DIR} -DUSE_QT5=ON -DENABLE_TEST=ON
        MAKEFLAGS=-j$(nproc) cmake --build ${BUILD_DIR}
        ctest --test-dir ${BUILD_DIR} -V

    - name: Static analysis and test coverage
      env:
        CC: ${{matrix.config.CC}}
        CXX: ${{matrix.config.CXX}}
        LCOV_GCOV_TOOL: "gcov-14"
        BUILD_DIR: "build-coverage/"
      run: |
        cmake -B ${BUILD_DIR} -DUSE_QT5=ON -DENABLE_TEST_COVERAGE=ON -DENABLE_CLANG_TIDY=ON
        cmake --build ${BUILD_DIR} --target formatcheck
        MAKEFLAGS=-j$(nproc) cmake --build ${BUILD_DIR}
        cmake --build ${BUILD_DIR} --target test
        cmake --build ${BUILD_DIR} --target coverage
      if: matrix.config.CC == 'gcc-14'

    - name: Publish coverage report
      uses: coverallsapp/github-action@master
      with:
        github-token: ${{secrets.GITHUB_TOKEN}}
        path-to-lcov: build-coverage/coverage/trace_filtered.info
      if: matrix.config.CC == 'gcc-14'
